@model IEnumerable<MvcCalendar.Models.Event>

@{
    ViewBag.Title = "Index";
    var start = DateTime.Today;
    var clockQuery = from offset in Enumerable.Range(0, 48) select TimeSpan.FromMinutes(30 * offset);
    List<string> timeList = clockQuery.Select(time => (start + time).ToString("hh:mm tt")).ToList();
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<select id="thisList">
    @foreach (var item in timeList)
    {
        <option value="@item">@item</option>
    }
</select>
<div id="thisTime"></div>
<br />
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
@section Scripts
{
    @Scripts.Render("~/Scripts/site.js")

    <script type="text/javascript">
        $(document).ready(
            Planning.Site.Init()
        );
    </script>
}